/* Make the image fully responsive */
body { 
    padding-top: 56px; 
}
.carousel-inner img {
	object-fit: none;
	width: 100%;
	max-height: 600px;
	object-fit: cover;
}
.carousel-caption {
	background-color: rgba(0, 200, 180, 0.5);
}

.paralsec {
    background-image: url(https://img.webnots.com/2017/05/parallax.jpg);
}

.paral {
	color:red;
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.trans{
	opacity: 0.5;
}