/* Make the image fully responsive */
body { 
	position: relative;
    padding-top: 56px; 
}
.carousel-inner img {
	object-fit: none;
	width: 100%;
	max-height: 600px;
	object-fit: cover;
}
.carousel-caption {
	border-radius: 10px;
	/*background-color: rgba(0, 200, 180, 0.6);*/
	background-color: rgba(52, 58, 64, .8);
}
.paralsec {
    background-image: url("../images/leto2018-1.jpg");
    border-radius: 0;
}

.paral {
	margin-bottom: 0px;
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.paral-text{
	/*color: rgba(0, 200, 180,1);
	background-color: rgba(255,255,255,0.9);*/
	color: #fff;
	background-color: rgba(52, 58, 64, .8);
	padding-bottom: 10px;
	border-radius: 10px; 
}
.list-group-item.active{
	background-color: rgba(52, 58, 64, 1);
	border-color: rgba(52, 58, 64, 1);
}
.my-tabs{
	padding-bottom: 20px;
	opacity: 0.8;
}
.summer a{
	color: rgba(52, 58, 64, 1);
}
.my-dark-dropdown{
	background-color: #343a40!important;
}
.my-dark-dropdown a{
    color: rgba(255,255,255,.5);
}
.my-dark-dropdown .dropdown-item.active, .dropdown-item:active {
    color: #fff!important;
    text-decoration: none;
    background-color: transparent;
}
.my-dark-dropdown .dropdown-item.active, .dropdown-item:hover {
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: transparent;
}
.my-link-color a{
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: rgba(52, 58, 64, .6);
	color: #fff;
}
.my-margin-top{
	margin-top: 40px;
}
.container-za-nas{
	padding-left: 100px;
	padding-right: 100px;
	text-align: justify;
}
.leto-country{
	margin-top: 20px;
	margin-bottom: 20px;
}
.leto-country .rounded{
	height: 100px;
	width: 120px;
	border-radius: 50%!important;
	opacity: .5;
	display: block;
	margin: 0 auto;
}
#hover-img:hover{
	opacity: 1;
}
.leto-country-active .rounded{
	opacity: 1;
}
.leto-place{
	margin-top: 40px;
	margin-bottom: 20px;
}
.leto-place .rounded{
	height: 200px;
	width: 200px;
	border-radius: 50%!important;
	display: block;
	margin: 0 auto;
}
.my-footer{
	color: #fff;
	padding-top: 25px;
	padding-bottom: 5px;
	background-image: url("../images/footer.png");
	background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.footer-image-rounded{
	height: 50px;
	width: 50px;
	border-radius: 50%!important;
	margin-bottom: 20px;
}
.footer-black{
	padding-top: 2;
	padding-bottom: 2;
	background-color: #000;
}
.footer-black p{
	color: #fff;
}
.my-card{
	margin-bottom: 20px;
	width: 18rem;
}
.my-card img{
	height: 10rem;
}
@media screen and (max-width: 600px) {
  .leto-country {
    display: none;
  }
}
@media (min-width: 768px) {
.navbar-brand
    {
        position: absolute;
        width: 23%;
        text-align: center;
        margin:0 auto;
    }
}